# This file is part of pyunicorn.
# Copyright (C) 2008--2025 Jonathan F. Donges and pyunicorn authors
# URL: <https://www.pik-potsdam.de/members/donges/software-2/software>
# License: BSD (3-clause)


# documentation & validation ==================================================

# - https://docs.travis-ci.com/user/reference/overview
# - https://docs.travis-ci.com/user/build-matrix/
# - https://docs.travis-ci.com/user/multi-os/

# - https://docs.travis-ci.com/user/build-config-validation/
# - https://config.travis-ci.com/explore


# meta ========================================================================

# enable build config validation
version: ~> 1.0

# save Travis budget
if: branch = master

# report outcomes
notifications:
  email:
    on_success: change
    on_failure: always


# default jobs: Linux, all Python versions ====================================

os: linux
dist: noble
arch: arm64
language: generic

env:
  global:
    # limit procs to available cores
    - TOX_JOBS=2
  jobs:
    - PYTHON=3.14
    - PYTHON=3.13
    - PYTHON=3.12
    - PYTHON=3.11
    - PYTHON=3.10

before_install: export ARCH=Linux-aarch64

install:
  - | # install Miniconda
    travis_retry wget https://repo.anaconda.com/miniconda/Miniconda3-latest-${ARCH}.sh -O miniconda.sh
    bash miniconda.sh -b -p ${HOME}/miniconda
    export PATH="${HOME}/miniconda/bin:${PATH}"; hash -r
    conda config --set quiet yes --set always_yes yes --set changeps1 no
    travis_retry conda update -n base -c defaults conda
    travis_retry conda update --all
    conda config --set solver libmamba
    conda info -a
    conda list
  - | # install executables via Miniconda: Python, Pandoc, Codecov
    travis_retry conda create -n test-env
    eval "$(conda shell.bash hook)"
    conda activate test-env
    travis_retry conda install -c conda-forge python=${PYTHON} pandoc codecov
    travis_retry conda update  -c conda-forge --all
    conda info -a
    conda list
  - | # install Python libs via Miniconda
    travis_retry conda install -c conda-forge \
        numpy scipy python-igraph h5netcdf tqdm \
        ipython networkx matplotlib cartopy sphinx nbsphinx \
        tox flake8 pylint pytest-xdist pytest-cov
    conda info -a
    conda list

script:
  - | # install Python libs via Pip: self (+ dependencies, if on Windows)
    travis_retry pip install -v -e . --group tests --group docs
  - | # run test suite
    tox -v

# report statistics
after_success: codecov


# modified job: Windows, newest Python version ================================
# (inherit only 1st `env.jobs` entry)

jobs:
  fast_finish: true
  include:
    - os: windows
      language: shell
      before_install:
        - export ARCH=Windows-x86_64
        - export PATH=/c/Python${PYTHON/.}:/c/Python${PYTHON/.}/Scripts:${PATH}
      install:
        - | # install executables via Chocolatey: Python, Pandoc, Codecov
          travis_retry choco install python${PYTHON/.}
          travis_retry python -m pip install --upgrade pip
          travis_retry choco install pandoc codecov
